.container{
    background-color: rgb(78, 91, 102);
    height: 200px;
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-around;           
}
.item{
    background-color: rgb(63, 38, 5);
    color: beige;
    padding: 20px;
    margin: 5px;
}